/* CPANEL MODIFIERS */


.body-content{
	position: relative;
	left:-5px;
}

#menuRow {
	clear:both; 
	position:relative; 
	height:44px;
	width:710px;	
	background:url(../images/menubg.png) repeat-x;
}
.menuLeft {
	float:left;
	background:url(../images/menuLeft.png) no-repeat;
	width:5px;
	height:44px;
}
.menuRight {
	float:right;
	background:url(../images/menuRight.png) no-repeat;
	width:5px;
	height:44px;
}
#menu {
	height:35px;
	padding-top:13px;
	float:left;
}
/** TABBED MENU **/
#menu ul {list-style:none;}
#menu ul li {
	float:left; 
	background:url(../images/menuItemL.png) no-repeat top left; 
	padding-left:12px; 
	height:30px;
	margin-left:8px;
}
#menu ul li.on {
	background-image:url(../images/menuItemL.png); 
	position:relative;
}
#menu ul li.on a {
	background-image:url(../images/menuItemR.png); 
	color:#fff;
}
#menu ul li a {
	color:#fff; 
	text-decoration:none; 
	display:block; 
	padding:9px 12px 10px 0px; 
	background:url(../images/menuItemR.png) no-repeat top right; 
	font-size:.9em;
	font-weight:bold;
}
#menu ul li.selected a:hover {
	color:#000;
}
#menu ul li a:hover {color:#efefef;}
#menu ul li.selected ul {
	position:absolute; 
	margin-top:10px; 
	width:800px;
}
#menu ul li.selected ul li {
	background:none; 
	padding:0;
}
#menu ul li.selected ul li a {
	background:none; 
	display:inline; 
	color:#999; 
	text-decoration:underline; 
	font-size:0.8em;
}
#menu ul li.selected ul li a {background:none;}
#menu ul li.selected ul li a:hover {color:#666}
#menu ul li.selected ul li.selected a {color:#ab8617;}


.crumb { margin:0;width:696px;float:left;background:url(../images/crumbbg.png) repeat-x;height:33px;padding:7px 4px 7px 0; }
.crumb { margin-top:-4px }
.crumbLeft { margin:0;width:5px;height:33px;background:url(../images/crumbLeft.png) no-repeat;float:left;margin-top:-4px; }
.crumbContent {
	margin:15px 0 0 0;
	width:912px;
	float:left;
	background:url(../../images/crumbbg.gif) repeat-x;
	height:42px;
	padding:7px 4px 7px 12px;
}
.crumbRight { margin:0;width:5px;height:33px;background:url(../images/crumbRight.png) no-repeat;float:left;margin-top:-4px; }

#crumbs {
	height:33px;
	margin-top:-15px;
	}
#crumbs li {
	float:left;
	line-height:40px;
	color:#fff;
	padding-left:.75em;
	list-style-type:none;
	font-size:.8em;
	}		
#crumbs li a {
	background:url(../images/crumbs.png) no-repeat right center;
	display:block;
	padding:0 22px 0 0;
	font-size:1em;
	margin-top:-1px;
	}							
#crumbs li a:link, #crumbs li a:visited {
	color:#fff;
	text-decoration:none;
	font-size:1em;
	}	
#crumbs a:link, #crumbs a:visited, #crumbs li a:hover, #crumbs li a:focus {
	text-decoration:underline;
	font-size:1em;
	}
.pageTable {
	float:left;
	background:#fff url(../images/pageGreenTop.png) repeat-x;
	width:547px;
	padding:0 7px;
}
.mainboxheader table {
	width: 300px;
}
.pageLeft {
	color:#fff;float:left;background:url(../images/pageGreenLeft.png) no-repeat;width:141px;padding-top:10px;
}

.domainCountTop {
	float:right;
	background:url(../images/domainCountTop.png) no-repeat;
	height:5px;
	width:131px;
	margin-top:5px;
}		
.domainCount {
	float:right;
	color:#fff;
	background:url(../images/domainCountbg.png) repeat-y;
	width:109px;
	padding:5px 10px 5px 12px;
}
.domainCountBottom {
	float:right;
	background:url(../images/domainCountBottom.png) no-repeat;
	height:5px;
	width:131px;
}


.shortcuts {
	font-size:.9em;
	background:url(../images/shortcutbg.jpg) repeat-x;
	height:143px;
	/*width:100%;*/
}
.shortcutItem {
	height:100px;
	width:132px;
	float:left;
	padding:20px;
}
.leftcolumn {
    width:229px;
    float:left;
    min-height:300px;
}

/*--------------------- Sidebar Content ---------------------*/

.sideheader {width:100%;height:32px;}
.sideheaderl {float:left;background:url(../images/sideboxtl.png) no-repeat;width:6px;height:6px;}
.sideheaderr {float:right;background:url(../images/sideboxtr.png) no-repeat;width:6px;height:6px;}
.sideheader span {float:left;padding:10px 0 0 10px;color:#fff;}
.sideheader h4 {color:#fff;font-size:.9em;}

ul.sidemenu, div#to-do-list ul {background:url(../images/leftbg.jpg) repeat-y;list-style-type: none;width:229px; padding:7px 0 1px 0;}
ul.sidemenu li {background:url(../images/leftbutton-off.png) no-repeat 4px 0}
ul.sidemenu li a {margin-bottom:3px;font: 13px Arial, Verdana, Helvetica, sans-serif;padding:8px 30px 10px 35px; display:block; background:url(../images/sidearrow.png) no-repeat 21px 12px; color:#333; text-decoration:none;}
ul.sidemenu li a:hover, ul.sidemenu li.selected a:hover {background:url(../images/sidearrow-on.png) no-repeat 21px 12px; padding-left:35px;;color:#000;}
	ul.sidemenu li ul {list-style-type: none;padding-top:1px; width:229px; font-size:0.9em;}
	ul.sidemenu li ul li {background:none;border-bottom:none;}
	ul.sidemenu li ul li a {color:#1d4103;background:none; padding:5px 3px 5px 50px !important;}
	ul.sidemenu li ul li a:hover {color:#fff;background:#4c9931;}
	ul.sidemenu li a.ui-state-active {background:#4c9931;font-weight:bold;}
/* --------- Main Content ----------- */

#right-content{
	width: 430px;
	float: right;
	padding-right:30px;
}
#right-content hr {
	margin-bottom: 10px;

}


.body-content h1, .body-content h2, .body-content h4 {
	margin: 0px 0px 0px 4px;	
}
.pageGrayBottom{
	width:75px;	
}

div.smart_list {
	z-index:2;
	font-size:1em;
}
