/** TABBED MENU **/
#menu ul {list-style:none;}
#menu ul li {
        position:relative;
        top: -11px;
        left: -40px;
	float:left; 
	background:url(../images/menuItemL.png) no-repeat top left; 
	padding-left:12px; 
	height:30px;
	margin-left:8px;
        margin-bottom: 13px;
}
#menu ul li.on {
	background-image:url(../images/menuItemL.png); 
	position:relative;
}
#menu ul li.on a {
	background-image:url(../images/menuItemR.png); 
	color:#fff;
}
#menu ul li a {
	color:#fff; 
	text-decoration:none; 
	display:block; 
	padding:9px 12px 10px 0px; 
	background:url(../images/menuItemR.png) no-repeat top right; 
	font-size:.9em;
	font-weight:bold;
}
#menu ul li.selected a:hover {
	color:#000;
}
#menu ul li a:hover {color:#efefef;}
#menu ul li.selected ul {
	position:absolute; 
	margin-top:10px; 
	width:800px;
}
#menu ul li.selected ul li {
	background:none; 
	padding:0;
}
#menu ul li.selected ul li a {
	background:none; 
	display:inline; 
	color:#999; 
	text-decoration:underline; 
	font-size:0.8em;
}
#menu ul li.selected ul li a {background:none;}
#menu ul li.selected ul li a:hover {color:#666}
#menu ul li.selected ul li.selected a {color:#ab8617;}


.crumb { margin:0;width:696px;float:left;background:url(../images/crumbbg.png) repeat-x;height:33px;padding:7px 4px 7px 0; }
.crumb { margin-top:-4px }
.crumbLeft { margin:0;width:5px;height:33px;background:url(../images/crumbLeft.png) no-repeat;float:left;margin-top:-4px; }
.crumbContent {
	margin:15px 0 0 0;
	width:912px;
	float:left;
	background:url(../../images/crumbbg.gif) repeat-x;
	height:42px;
	padding:7px 4px 7px 12px;
}
.crumbRight { margin:0;width:5px;height:33px;background:url(../images/crumbRight.png) no-repeat;float:left;margin-top:-4px; }

#crumbs {
	height:33px;
	margin-top:-15px;
	}
#crumbs li {
	float:left;
	line-height:40px;
	color:#fff;
	padding-left:.75em;
        margin-left: -30px;
        margin-right: 30px;
	list-style-type:none;
	font-size:.8em;
	}		
#crumbs li a {
	background:url(../images/crumbs.png) no-repeat right center;
	display:block;
	padding:0 22px 0 0;
	font-size:1em;
	margin-top:-1px;
	}							
#crumbs li a:link, #crumbs li a:visited {
	color:#fff;
	text-decoration:none;
	font-size:1em;
	}	
#crumbs a:link, #crumbs a:visited, #crumbs li a:hover, #crumbs li a:focus {
	text-decoration:underline;
	font-size:1em;
	}

#adddomain {
	position: relative;
	top: -35px;
}
#adddomain a {
	color: #FFFFFF;	
}

#adddomain img{
	padding-top:4px;
	padding-left:2px;
}

.mainboxheader table {
	width: 550px;
}

.pageSubLinks {
	margin-left:-50px;
}

.shortcutItem h5{
	margin-top:-10px;
}

ul.sidemenu li ul li {margin-left:-40px;width:229px;}

.hostentry {
	font-size:8pt;	
}